<div class="about" id="about">
    <div class="container">
        <header class="section-heading">
            <div id="about-icon" class="header-img"></div>
            <h2>- About -</h2>
        </header>
        <div class="text">
            <p>I'm a frontend developer with a background in graphic design and UX design. I work mostly with HTML5, CSS (SASS) and Javascript. I also have basic knowledge of PHP and Python.</p>

            <p>I'm currently working full-time at <a href="https://www.queo.pt/">Queo</a>, but I'm open to offers. Contact me at <a href ="mailto:freesonia@gmail.com?Subject=Hello">freesonia@gmail.com</a>.</p>

            <p>You can also see <a href="" class="projects-link">some work I've done before</a>, either in just Design or Design and Development.</p>
        </div>
    </div>
</div>