<footer class="site-footer">
	<div class="container">
		<ul class="social-links">
			<!-- <li class="twitter"><a href="http://twitter.com/soniacsoares" title="Twitter" class="icon">T</a></li> -->
			<!-- <li class="github"><a href="http://github.com/soniacs" title="My code on Github" class="icon">G</a></li> -->
			<li class="github"><a href="https://codeberg.org/soniasoares" title="My code on Codeberg" class="icon">G</a></li>
			<li class="zerply"><a href="http://zerply.com/soniacs" title="Zerply" class="icon">Z</a></li>
			<li class="email"><a href="mailto:freesonia@gmail.com" class="icon">M</a></li>
			<div id="last-tweet" class="tooltip"></div>
		</ul>
		<p class="copyright">2022 Sonia Soares. Built with <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, <a href="https://codeberg.org/soniasoares/soniacs_01" target="_blank">dark magic</a> and <a href="">(=^.^=)</a></p>
	</div>
</footer>